@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1vw;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

        

$font_h1: 3rem;
$font_h2: 2rem;
$font_h3: 1.5rem;
$font_h5: 1.2rem;
$font_h4: 1rem;

$font_i: 1.5rem;

$hover_color: lightpink;
$hover_transition: all 0.5s ease;


header {
    width: 100%;
    height: auto;

    .contents {
        width: 80%;
        height: auto;
        margin: 0 auto;

        #topbar {
            width: 100%;
            height: 3vw;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .top_menu {
                width: 45%;
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .top_help a,
                .top_number a {
                    font-weight: bold;
                    font-size: $font_h5;
                }
            }

            .top_bar_icon {
                width: 25%;
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                i {
                    font-size: 1.2rem;
                    color: black;

                    &:hover {
                        color: $hover_color;
                        transition: $hover_transition;
                    }
                }
            }
        }
    }

    #nav {
        width: 100%;
        height: 4vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 17%;
            height: 100%;

            a {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .list {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            li {
                font-size: 1.2rem;

                a:hover {
                    color: #dbc3c2;
                    transition: $hover_transition;
                }
            }
        }

        .search {
            width: 23%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            i {
                font-size: $font_i;

                &:hover {
                    color: #dbc3c2;
                    transition: all 0.5s ease;
                    cursor: pointer;
                }
            }

            input {
                width: 50%;
                height: 25px;
                font-size: 12px;
                border-radius: 20px;
                box-sizing: border-box;
                padding: 3px;

                &:hover {
                    transform: scale(1.1);
                    transition: all 0.5s ease;
                    background-color: #dbc3c2;
                    cursor: pointer;
                }
            }
        }
    }
}


// 풋터 시작
footer {
    width: 100%;
    height: auto;

    .contents{
        width: 80%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-sizing: border-box;
        padding: 35px 0 35px;

        .footer0 {
            width: 270px;
            height: 330px;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-direction: column;

            img {
                width: 200px;
                height: 50px;
            }

            .ptag {
                width: 100%;
                box-sizing: border-box;
                padding: 10px;

                p {
                    font-size: $font_h4;
                }
            }

            .icon {
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-align: center;

                li {
                    width: 15%;

                    i {
                        font-size: $font_h3;
                    }

                    i:hover {
                        color: $hover_color;
                        transition: $hover_transition;
                    }

                    .fa-square-facebook::before {
                        content: "\f082";
                    }

                    .fa-square-instagram::before {
                        content: "\e055";
                    }

                    .fa-square-twitter::before {
                        content: "\f081";
                    }

                    .fa-square-github::before {
                        content: "\f092";
                    }
                }
            }
        }

        .footer1 {
            width: 170px;
            height: 300px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;

            h5 {
                width: 100%;
                font-size: $font_h3;
                text-align: left;
            }

            ul {
                width: 100%;
                height: 230px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;

                li {
                    margin-bottom: 20px;

                    a {
                        font-size: $font_h4;

                        &:hover {
                            color: #ff6d6d;
                            transition: $hover_transition;
                            transform: translateX(10px);
                        }
                    }
                }
            }
        }
    }
}

