@charset "UTF-8";

@import "header_footer";


// main_slide
.main_slide {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../indeximg/bg.png);
    margin-bottom: 100px;

    .slide_wrapper {
        width: 1200px;
        height: 400px;
        display: flex;
        overflow: hidden;
        position: relative;

        .slide_box {
            width: 5600px;
            height: 100%;
            display: flex;

            .slide_b1 {
                width: 1300px;
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;

                .slide_b1_1 {
                    width: 35%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;

                    p {
                        font-size: 1.2rem;
                        margin-bottom: 3%;
                    }

                    h1 {
                        font-size: 2.5rem;
                    }

                    .button {
                        width: 180px;
                        height: 40px;
                        background-color: #9f7e58;
                        text-align: center;
                        color: white;
                        box-sizing: border-box;
                        border-radius: 15px;
                        line-height: 40px;
                        margin-top: 3%;
                    }
                }

                .slide_img {
                    width: 60%;
                    height: 100%;

                    &:nth-of-type(2) {
                        position: relative;

                        img:nth-of-type(2) {
                            position: absolute;
                            top: 60px;
                            right: 140px;
                            animation: sky 1s infinite alternate;
                        }

                        @keyframes sky {
                            from {
                                top: 60px;
                            }

                            to {
                                top: 40px;
                            }
                        }
                    }

                    img {
                        width: 80%;
                        height: 80%;
                    }
                }
            }
        }

        .slide_btn {
            width: 120px;
            height: 50px;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .sb_c {
                background-color: #333;
                position: relative;

                &::after {
                    content: "";
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 999;
                    border: 1px solid #333;
                    animation: sb_btn 0.5s ease;
                }
            }

            .sb {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                cursor: pointer;
                background-color: #ddd;
            }
        }
    }
}


// category
#Cate {
    width: 100%;
    height: auto;
    margin: 200px auto;

    .cate {
        width: 80%;
        height: auto;
        margin: 0 auto;

        h1 {
            font-size: 2.5rem;
            text-align: center;
        }

        .catebox {
            width: 100%;
            height: 450px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .cate_box {
                width: 200px;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                img:hover {
                    transform: scale(1.2);
                    transition: $hover_transition;
                }


                a {
                    width: 64px;
                    height: 64px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: $font_h4;
                }

                &:nth-of-type(1) {
                    background-color: #f9f1fe;
                }

                &:nth-of-type(2) {
                    background-color: #fbf4ea;
                }

                &:nth-of-type(3) {
                    background-color: #f4e6e5;
                }

                &:nth-of-type(4) {
                    background-color: #e7f2f4;
                }
            }
        }
    }
}



// Bestselling

#Bestseller {
    width: 80%;
    height: auto;
    margin: 200px auto;


    h1 {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    .booklist {
        width: 100%;
        height: 365px;
        border-right: 1px solid #afafaf;
        border-left: 1px solid #afafaf;
        border-top: 1px solid #afafaf;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .bookinfo {
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            border-right: 1px solid #afafaf;
            border-left: 1px solid #afafaf;
            border-bottom: 1px solid #afafaf;
            box-sizing: border-box;
            text-align: center;
            position: relative;

            h4 {
                font-size: 16px;
                box-sizing: border-box;
                margin-bottom: 10px;
            }

            span {
                color: #afafaf;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
            }

            p {
                font-size: 12px;
                text-align: left;
                box-sizing: border-box;
                padding: 5px;
                z-index: 5;
                bottom: 0;

                &:last-child {
                    color: #ff0000;
                }
            }

            img {
                width: 100%;
            }

            .info {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                background-color: #fff;
                border: none;
                position: relative;
                z-index: 5;
            }

            .img {
                width: 93%;
                height: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                bottom: 3px;
                right: 10px;

                .spen1 {
                    font-size: 18px;
                }

                .img_2 {
                    width: 60px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;

                        &:first-child:hover,
                        &:nth-of-type(2):hover {
                            transition: $hover_transition;
                            background-color: $hover_color;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}


#Featured {
    width: 100%;
    height: auto;

    .Featured_1 {
        width: 80%;
        height: auto;
        margin: 30px auto;
    }


    h1 {
        font-size: 2.5rem;
        margin-bottom: 30px;
        text-align: center;
    }

    .view {
        width: 45%;
        height: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 30px;

        li:hover {
            color: #dbc3c2 !important;
            transition: $hover_transition !important;
            cursor: pointer;
        }
    }

    .futurelist,
    .salelist,
    .moodlist {
        width: 100%;
        height: 730px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;

        .futureinfo,
        .saleinfo,
        .moodinfo {
            width: 21%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            border: 1px solid #afafaf;
            box-sizing: border-box;
            text-align: center;
            position: relative;

            h4 {
                font-size: 16px;
                box-sizing: border-box;
                margin-bottom: 10px;
            }

            span {
                color: #afafaf;
                font-size: 14px;
                font-weight: bold;
            }

            p {
                font-size: 12px;
                text-align: left;
                box-sizing: border-box;
                padding: 5px;
                z-index: 5;
                bottom: 0;

                &:last-child {
                    color: #ff0000;
                }
            }

            img {
                width: 100%;
            }

            .info {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                background-color: #fff;
                border: none;
                position: relative;
                z-index: 5;
            }

            .img {
                width: 94%;
                height: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                bottom: 3px;
                right: 10px;

                .spen1 {
                    width: 24px;
                    height: 24px;
                    position: relative;

                    .click {
                        width: 100px;
                        height: 0px;
                        border-radius: 20px;
                        background: #333;
                        color: #fff;
                        text-align: center;
                        line-height: 25px;
                        position: absolute;
                        left: 35px;
                        z-index: 1;
                        text-align: center;
                    }

                    .click.on {
                        opacity: 0.8;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                .img_2 {
                    width: 60px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;

                        &:first-child:hover,
                        &:nth-of-type(2):hover {
                            transition: $hover_transition;
                            background-color: $hover_color;
                            cursor: pointer;
                        }
                    }

                }
            }
        }
    }
}


// Deals 부분
#Deals {
    width: 100%;
    height: 634px;
    background-color: #fff2e1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10% auto;

    .head {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4%;

        h1 {
            font-size: 2.5rem;
        }

        span {
            font-size: $font_h4;

            &:hover {
                color: #dbc3c2;
                transition: $hover_transition;
                cursor: pointer;
            }
        }
    }

    .deals {
        width: 80%;
        height: 334px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;

        .dealbox {
            width: 1150px;
            height: 100%;
            border-top: 1px solid #afafaf;
            border-left: 1px solid #afafaf;
            overflow: hidden;

            .deallist {
                width: 3450px;
                height: 100%;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;

                .list_box {
                    width: 575px;
                    height: 333px;
                    border-bottom: 1px solid #afafaf;
                    border-right: 1px solid #afafaf;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-left: 0px;

                    &:hover {
                        box-shadow: 2px 30px 10px rgb(221 221 221 / 50%);
                    }

                    .list_img {
                        width: 220px;
                        height: 267px;
                        margin-right: 3%;

                        a {
                            width: 90%;
                            height: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .list_info {
                        width: 320px;
                        height: 267px;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;

                        h4 {
                            font-size: 1.3rem;
                        }

                        span {
                            color: #afafaf;
                            font-weight: 500;
                        }

                        p {
                            font-size: 16px;

                            &:nth-of-type(1) {
                                color: #ff0000;
                            }
                        }

                        #list_count {
                            width: 80%;
                            height: 50%;
                            margin-top: 5%;
                            text-align: left;

                            span {
                                font-size: 16px;
                                color: #ff0000;

                                &:first-child {
                                    margin-right: 10px;
                                }
                            }

                            .count {
                                width: 80%;
                                height: 1rem;
                                background-color: #fff3e4;
                                border-radius: 20px;
                                position: relative;
                                margin-top: 3%;

                                &::after {
                                    content: "";
                                    width: 65%;
                                    height: 1rem;
                                    background-color: #9f7e58;
                                    position: absolute;
                                    border-radius: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



// Release 부분
#Releases {
    width: 100%;
    height: auto;
    margin: 10% auto;

    .releases {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;

        .Rbox {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3%;

            h1 {
                font-size: 2.5rem;
            }

            .R_ul {
                width: 40%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    font-size: 1rem;

                    &:hover {
                        color: #dbc3c2 !important;
                        transition: $hover_transition !important;
                        cursor: pointer;
                    }
                }
            }
        }


        .R_boxs {

            .releasesbox0,
            .releasesbox1,
            .releasesbox2,
            .releasesbox3 {
                width: 100%;
                height: 750px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .R_box {
                    width: 30%;
                    height: 100%;
                    background-color: #fff2e1;
                    border-top: 1px solid #afafaf;
                    border-left: 1px solid #afafaf;
                    border-bottom: 1px solid #afafaf;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .R_img {
                        width: 200px;
                        height: 280px;
                        background-color: #ff0000;
                        margin-bottom: 7%;

                        a {
                            width: 100%;
                            height: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .R_text {
                        width: 350px;
                        height: 330px;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;

                        h2 {
                            font-size: 2.5rem;
                        }

                        h1 {
                            font-size: 3.5rem;
                            color: #ff0000;
                        }

                        p {
                            font-size: $font_h2;
                            color: #afafaf;
                        }

                        .R_button {
                            width: 200px;
                            height: 70px;
                            text-align: center;
                            line-height: 70px;
                            color: #fff;
                            background-color: #9f7e58;
                            margin-top: 5%;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }


                .releaseslist {
                    width: 70%;
                    height: 100%;
                    border-right: 1px solid #afafaf;
                    border-left: 1px solid #afafaf;
                    border-top: 1px solid #afafaf;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    flex-flow: row wrap;

                    .releasesinfo {
                        width: 20%;
                        height: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        border-right: 1px solid #afafaf;
                        border-left: 1px solid #afafaf;
                        border-bottom: 1px solid #afafaf;
                        box-sizing: border-box;
                        text-align: center;
                        position: relative;

                        h4 {
                            font-size: 15px;
                            box-sizing: border-box;
                            margin-bottom: 10px;
                        }

                        span {
                            color: #afafaf;
                            font-size: 14px;
                            font-weight: bold;
                            text-align: center;
                        }

                        p {
                            font-size: 12px;
                            text-align: left;
                            box-sizing: border-box;
                            padding: 5px;
                            z-index: 5;
                            bottom: 0;

                            &:last-child {
                                color: #ff0000;
                            }
                        }

                        .img_1 {
                            img {
                                margin-bottom: 8%;
                            }
                        }

                        img {
                            width: 100%;
                        }

                        .info {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            background-color: #fff;
                            border: none;
                            position: relative;
                            z-index: 5;
                        }

                        .img {
                            width: 93%;
                            height: 15px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            position: absolute;
                            bottom: 3px;
                            right: 10px;

                            .spen1 {
                                font-size: 16px;
                            }

                            .img_2 {
                                width: 60px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                img {
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 50%;

                                    &:first-child:hover,
                                    &:nth-of-type(2):hover {
                                        transition: $hover_transition;
                                        background-color: $hover_color;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// Music
#Music {
    width: 1300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15% auto;

    h1 {
        width: 100%;
        font-size: 2.5rem;
        text-align: left;
        margin-bottom: 3%;
    }

    .music {
        width: 100%;
        height: 250px;
        border-top: 1px solid #afafaf;
        border-left: 1px solid #afafaf;
        overflow: hidden;

        .M_list {
            width: 3031px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .m_list {
                width: 433px;
                height: 99%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-top: 1px solid rgba($color: #afafaf, $alpha: 0);
                border-left: 1px solid rgba($color: #afafaf, $alpha: 0);
                border-right: 1px solid #afafaf;
                border-bottom: 1px solid #afafaf;
            }
        }
    }

    .slide_btn {
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2%;

        .sb_c {
            background-color: #333;
            position: relative;

            &::after {
                content: "";
                width: 20px;
                height: 20px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 999;
                border: 1px solid #333;
                animation: sb_btn 0.5s ease;
            }
        }

        .sb {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            cursor: pointer;
            background-color: #ddd;
        }
    }

}



// Favorite Authors
#Favorite {
    width: 1300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10% auto;

    .favorite {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 2.5rem;
        }

        span {
            font-size: 1rem;

            &:hover {
                color: #dbc3c2;
                transition: $hover_transition;
                cursor: pointer;
            }
        }
    }

    .prev,
    .next {
        width: 40px;
        height: 40px;
        background-color: #eeeeee;
        line-height: 40px;
        text-align: center;

        &:hover {
            color: #fff;
            background-color: #000000;
            transition: $hover_transition;
            cursor: pointer;
        }
    }


    .favor_box {
        width: 935px;
        height: 200px;
        overflow: hidden;

        .favor_ul {
            width: 1500px;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .favor_li {
                width: 150px;
                height: 180px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                }

                p {
                    font-size: 16px;
                    text-align: center;
                }
            }
        }
    }
}



