@charset "UTF-8";

@import "header_footer";


// main_slide
#main_slide {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../indeximg/bg.png);
    margin-bottom: 100px;

    .slide {
        width: 1200px;
        height: 400px;
        display: flex;
        background-color: aquamarine;
        overflow: hidden;
        position: relative;

        .slide_box {
            width: 5600%;
            height: 100%;
            display: flex;

            .slide_b1 {
                width: 1300px;
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;

                .slide_b1_1 {
                    width: 35%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;

                    p {
                        font-size: 1.2rem;
                        margin-bottom: 3%;
                    }

                    h1 {
                        font-size: $font_h1;
                    }

                    .button {
                        width: 200px;
                        height: 50px;
                        background-color: #9f7e58;
                        text-align: center;
                        color: white;
                        box-sizing: border-box;
                        padding: 5px;
                        border-radius: 15px;
                        line-height: 2.3;
                        margin-top: 3%;
                    }
                }

                .slide_img {
                    width: 60%;
                    height: 100%;

                    img {
                        width: 80%;
                        height: 80%;
                    }
                }
            }
        }
    }

    .slide_btn {
        width: 120px;
        height: 50px;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .sb_c {
            background-color: #333;
            position: relative;

            &::after {
                content: "";
                width: 20px;
                height: 20px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 999;
                border: 1px solid #333;
                animation: sb_btn 0.5s ease;
            }
        }

        .sb {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            cursor: pointer;
            background-color: #ddd;
        }
    }
}


// category
#Cate {
    width: 100%;
    height: auto;
    margin: 200px auto;

    .cate {
        width: 80%;
        height: auto;
        margin: 0 auto;

        h1 {
            font-size: $font_h1;
            text-align: center;
        }

        .catebox {
            width: 100%;
            height: 450px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .cate_box {
                width: 200px;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                img:hover {
                    transform: scale(1.2);
                    transition: $hover_transition;
                }


                a {
                    width: 64px;
                    height: 64px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: $font_h4;
                }

                &:nth-of-type(1) {
                    background-color: #f9f1fe;
                }

                &:nth-of-type(2) {
                    background-color: #fbf4ea;
                }

                &:nth-of-type(3) {
                    background-color: #f4e6e5;
                }

                &:nth-of-type(4) {
                    background-color: #e7f2f4;
                }
            }
        }
    }
}



// Bestselling

#Bestseller {
    width: 80%;
    height: auto;
    margin: 200px auto;


    h1 {
        font-size: $font_h1;
        margin-bottom: 30px;
    }

    .booklist {
        width: 100%;
        height: 365px;
        border-right: 1px solid #afafaf;
        border-left: 1px solid #afafaf;
        border-top: 1px solid #afafaf;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .bookinfo {
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            border-right: 1px solid #afafaf;
            border-left: 1px solid #afafaf;
            border-bottom: 1px solid #afafaf;
            box-sizing: border-box;
            text-align: center;
            position: relative;

            h4 {
                font-size: 15px;
                box-sizing: border-box;
                margin-bottom: 10px;
            }

            span {
                font-size: 17px;
                font-weight: bold;
                text-align: center;
            }

            p {
                font-size: 12px;
                text-align: left;
                box-sizing: border-box;
                padding: 5px;
                z-index: 5;
                bottom: 0;
            }

            img {
                width: 100%;
            }

            .info {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                background-color: #fff;
                border: none;
                position: relative;
                z-index: 5;
            }

            .img {
                width: 93%;
                height: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                bottom: 3px;
                right: 10px;

                .spen1 {
                    font-size: 18px;
                }

                .img_2 {
                    width: 60px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;

                        &:first-child:hover,
                        &:nth-of-type(2):hover {
                            transition: $hover_transition;
                            background-color: $hover_color;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}


#Featured {
    width: 100%;
    height: auto;

    .Featured_1 {
        width: 80%;
        height: auto;
        margin: 200px auto;
    }


    h1 {
        font-size: $font_h1;
        margin-bottom: 30px;
        text-align: center;
    }

    .view {
        width: 45%;
        height: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 30px;

        a:hover {
            color: #dbc3c2;
            transition: $hover_transition;
        }
    }

    .viewlist {
        width: 100%;
        height: 730px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;

        .viewinfo {
            width: 21%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            border: 1px solid #afafaf;
            box-sizing: border-box;
            // padding: 10px;
            text-align: center;
            position: relative;

            h4 {
                font-size: 15px;
                box-sizing: border-box;
                margin-bottom: 10px;
            }

            span {
                font-size: 14px;
                font-weight: bold;
            }

            p {
                font-size: 12px;
                text-align: left;
                box-sizing: border-box;
                padding: 5px;
                z-index: 5;
                bottom: 0;
            }

            img {
                width: 100%;
            }

            .info {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                background-color: #fff;
                border: none;
                position: relative;
                z-index: 5;
            }

            .img {
                width: 94%;
                height: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                bottom: 3px;
                right: 10px;

                .spen1 {
                    width: 24px;
                    height: 24px;
                    position: relative;

                    .click {
                        width: 100px;
                        height: 0px;
                        border-radius: 20px;
                        background: #333;
                        color: #fff;
                        text-align: center;
                        line-height: 25px;
                        position: absolute;
                        left: 35px;
                        z-index: 1;
                        text-align: center;
                    }
                
                    .click.on {
                        opacity: 0.8;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                .img_2 {
                    width: 60px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;

                        &:first-child:hover,
                        &:nth-of-type(2):hover {
                            transition: $hover_transition;
                            background-color: $hover_color;
                            cursor: pointer;
                        }
                    }

                }
            }
        }
    }
}