* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  scroll-behavior: smooth;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

header {
  width: 100%;
  height: auto;
}
header .contents {
  width: 1525px;
  height: 135px;
  margin: 0 auto;
}
header .contents #topbar {
  width: 1525px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .contents #topbar .top_menu {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .contents #topbar .top_menu .top_help a,
header .contents #topbar .top_menu .top_number a {
  font-weight: bold;
  font-size: 1.2rem;
}
header .contents #topbar .top_bar_icon {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .contents #topbar .top_bar_icon i {
  font-size: 1.2rem;
  color: black;
}
header .contents #topbar .top_bar_icon i:hover {
  color: lightpink;
  transition: all 0.5s ease;
}
header #nav {
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #nav .logo {
  width: 17%;
  height: 100%;
}
header #nav .logo a {
  width: 100%;
  height: 100%;
}
header #nav .logo a img {
  width: 100%;
  height: 100%;
}
header #nav .list {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header #nav .list li {
  font-size: 1.2rem;
}
header #nav .list li a:hover {
  color: #dbc3c2;
  transition: all 0.5s ease;
}
header #nav .search {
  width: 23%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header #nav .search i {
  font-size: 1.5rem;
}
header #nav .search i:hover {
  color: #dbc3c2;
  transition: all 0.5s ease;
  cursor: pointer;
}
header #nav .search input {
  width: 50%;
  height: 25px;
  font-size: 12px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 3px;
}
header #nav .search input:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  background-color: #dbc3c2;
  cursor: pointer;
}

footer {
  width: 100%;
  height: auto;
}
footer .contents {
  width: 1525px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 35px 0 35px;
}
footer .contents .footer0 {
  width: 270px;
  height: 330px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
footer .contents .footer0 img {
  width: 200px;
  height: 50px;
}
footer .contents .footer0 .ptag {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}
footer .contents .footer0 .ptag p {
  font-size: 1rem;
}
footer .contents .footer0 .icon {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
footer .contents .footer0 .icon li {
  width: 15%;
}
footer .contents .footer0 .icon li i {
  font-size: 1.5rem;
}
footer .contents .footer0 .icon li i:hover {
  color: lightpink;
  transition: all 0.5s ease;
}
footer .contents .footer0 .icon li .fa-square-facebook::before {
  content: "\f082";
}
footer .contents .footer0 .icon li .fa-square-instagram::before {
  content: "\e055";
}
footer .contents .footer0 .icon li .fa-square-twitter::before {
  content: "\f081";
}
footer .contents .footer0 .icon li .fa-square-github::before {
  content: "\f092";
}
footer .contents .footer1 {
  width: 170px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
footer .contents .footer1 h5 {
  width: 100%;
  font-size: 1.5rem;
  text-align: left;
}
footer .contents .footer1 ul {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
footer .contents .footer1 ul li {
  margin-bottom: 20px;
}
footer .contents .footer1 ul li a {
  font-size: 1rem;
}
footer .contents .footer1 ul li a:hover {
  color: #ff6d6d;
  transition: all 0.5s ease;
  transform: translateX(10px);
}

#main_slide {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../indeximg/bg.png);
  margin-bottom: 100px;
}
#main_slide .swiper {
  width: 1200px;
  height: 100%;
}
#main_slide .swiper-slide {
  background-position: center;
  background-size: cover;
}
#main_slide .swiper-slide img {
  display: block;
  width: 575px;
}
#main_slide .slide {
  width: 1200px;
  height: 400px;
  display: flex;
}
#main_slide .slide .slide_box {
  width: 5600px;
  height: 100%;
  display: flex;
}
#main_slide .slide .slide_box .slide_b1 {
  width: 1300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_slide .slide .slide_box .slide_b1 .slide_b1_1 {
  width: 420px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#main_slide .slide .slide_box .slide_b1 .slide_b1_1 p {
  font-size: 20px;
  margin-bottom: 10px;
}
#main_slide .slide .slide_box .slide_b1 .slide_b1_1 h1 {
  font-size: 50px;
}
#main_slide .slide .slide_box .slide_b1 .slide_b1_1 .button {
  width: 180px;
  height: 40px;
  background-color: #9f7e58;
  text-align: center;
  color: white;
  border-radius: 15px;
  line-height: 40px;
  margin-top: 10px;
}
#main_slide .slide .slide_box .slide_b1 .slide_b1_1 .button:hover {
  cursor: pointer;
  animation: jelly 0.5s ease;
}
@keyframes jelly {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
#main_slide .slide .slide_box .slide_b1 .slide_img {
  width: 720px;
  height: 100%;
  position: relative;
}
#main_slide .slide .slide_box .slide_b1 .slide_img img {
  width: 576px;
  height: 80%;
}
#main_slide .slide .slide_box .slide_b1 .slide_box2 img:nth-of-type(2) {
  position: absolute;
  top: 60px;
  right: 115px;
  animation: sky 1s infinite alternate;
}
@keyframes sky {
  from {
    top: 60px;
  }
  to {
    top: 40px;
  }
}
#main_slide .slide .slide_box .slide_b1 .slide_box3 img:nth-of-type(2) {
  width: 86px;
  height: 46px;
  position: absolute;
  top: 70px;
  right: 180px;
  animation: sky1 15s linear infinite backwards;
}
#main_slide .slide .slide_box .slide_b1 .slide_box3 img:nth-of-type(3) {
  width: 74px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 100px;
  animation: sky1 17s linear infinite 3s backwards;
}
#main_slide .slide .slide_box .slide_b1 .slide_box3 img:nth-of-type(4) {
  width: 86px;
  height: 46px;
  position: absolute;
  top: 70px;
  right: 100px;
  animation: sky1 18s linear infinite 6s backwards;
}
#main_slide .slide .slide_box .slide_b1 .slide_box3 img:nth-of-type(5) {
  width: 74px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 100px;
  animation: sky1 20s linear infinite 9s backwards;
}
@keyframes sky1 {
  0% {
    right: 600px;
    opacity: 0;
  }
  3% {
    right: 600px;
    opacity: 1;
  }
  100% {
    right: 0px;
    opacity: 0;
  }
}
#main_slide .slide .slide_box .slide_b1 .slide_box4 img:nth-of-type(2) {
  width: 101px;
  height: 70px;
  position: absolute;
  top: 75px;
  right: 200px;
  animation: sky2 1s linear infinite alternate;
}
#main_slide .slide .slide_box .slide_b1 .slide_box4 img:nth-of-type(3) {
  width: 55px;
  height: 71px;
  position: absolute;
  top: 254px;
  right: 300px;
  animation: sky3 1.5s linear infinite alternate;
}
#main_slide .slide .slide_box .slide_b1 .slide_box4 img:nth-of-type(4) {
  width: 113px;
  height: 80px;
  position: absolute;
  top: 200px;
  right: 620px;
  transform: translateY(0);
  animation: sky2 2s linear infinite alternate;
}
#main_slide .slide .slide_box .slide_b1 .slide_box4 img:nth-of-type(5) {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50px;
  right: 620px;
  animation: sky 2.5s linear infinite alternate;
}
@keyframes sky2 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px) translateX(10px);
  }
}
@keyframes sky3 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-15px) translateX(15px);
  }
}

#Cate {
  width: 100%;
  height: auto;
  margin: 200px auto;
}
#Cate .cate {
  width: 1525px;
  height: auto;
  margin: 0 auto;
}
#Cate .cate h1 {
  font-size: 50px;
  text-align: center;
}
#Cate .cate .catebox {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#Cate .cate .catebox .cate_box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Cate .cate .catebox .cate_box img:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}
#Cate .cate .catebox .cate_box a {
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
}
#Cate .cate .catebox .cate_box p {
  font-size: 1rem;
}
#Cate .cate .catebox .cate_box:nth-of-type(1) {
  background-color: #f9f1fe;
}
#Cate .cate .catebox .cate_box:nth-of-type(2) {
  background-color: #fbf4ea;
}
#Cate .cate .catebox .cate_box:nth-of-type(3) {
  background-color: #f4e6e5;
}
#Cate .cate .catebox .cate_box:nth-of-type(4) {
  background-color: #e7f2f4;
}

#Bestseller {
  width: 1525px;
  height: auto;
  margin: 200px auto;
  opacity: 0;
}
#Bestseller h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
#Bestseller .booklist {
  width: 100%;
  height: 365px;
  border-right: 1px solid #afafaf;
  border-left: 1px solid #afafaf;
  border-top: 1px solid #afafaf;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#Bestseller .booklist .bookinfo {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-right: 1px solid #afafaf;
  border-left: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
#Bestseller .booklist .bookinfo h4 {
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
#Bestseller .booklist .bookinfo span {
  color: #afafaf;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
#Bestseller .booklist .bookinfo p {
  font-size: 12px;
  text-align: left;
  box-sizing: border-box;
  padding: 5px;
  z-index: 5;
  bottom: 0;
}
#Bestseller .booklist .bookinfo p:last-child {
  color: #ff0000;
}
#Bestseller .booklist .bookinfo img {
  width: 100%;
}
#Bestseller .booklist .bookinfo .info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: none;
  position: relative;
  z-index: 5;
}
#Bestseller .booklist .bookinfo .img {
  width: 93%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 3px;
  right: 10px;
}
#Bestseller .booklist .bookinfo .img .spen1 {
  font-size: 18px;
}
#Bestseller .booklist .bookinfo .img .spen1:hover {
  cursor: pointer;
}
#Bestseller .booklist .bookinfo .img .img_2 {
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Bestseller .booklist .bookinfo .img .img_2 img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
#Bestseller .booklist .bookinfo .img .img_2 img:first-child:hover, #Bestseller .booklist .bookinfo .img .img_2 img:nth-of-type(2):hover {
  transition: all 0.5s ease;
  background-color: lightpink;
  cursor: pointer;
}

#Featured {
  width: 1525px;
  height: auto;
  opacity: 0;
  text-align: center;
  margin: 0 auto;
}
#Featured .Featured_1 {
  width: 1525px;
  height: auto;
  margin: 30px auto;
}
#Featured h1 {
  width: 1525px;
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
  margin: 0 auto;
}
#Featured .view {
  width: 1525px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  font-size: 20px;
}
#Featured .view li:hover {
  color: #dbc3c2 !important;
  transition: all 0.5s ease !important;
  cursor: pointer;
}
#Featured .futurelist,
#Featured .salelist,
#Featured .moodlist {
  width: 100%;
  height: 730px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
#Featured .futurelist .futureinfo,
#Featured .futurelist .saleinfo,
#Featured .futurelist .moodinfo,
#Featured .salelist .futureinfo,
#Featured .salelist .saleinfo,
#Featured .salelist .moodinfo,
#Featured .moodlist .futureinfo,
#Featured .moodlist .saleinfo,
#Featured .moodlist .moodinfo {
  width: 21%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #afafaf;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
#Featured .futurelist .futureinfo h4,
#Featured .futurelist .saleinfo h4,
#Featured .futurelist .moodinfo h4,
#Featured .salelist .futureinfo h4,
#Featured .salelist .saleinfo h4,
#Featured .salelist .moodinfo h4,
#Featured .moodlist .futureinfo h4,
#Featured .moodlist .saleinfo h4,
#Featured .moodlist .moodinfo h4 {
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
#Featured .futurelist .futureinfo span,
#Featured .futurelist .saleinfo span,
#Featured .futurelist .moodinfo span,
#Featured .salelist .futureinfo span,
#Featured .salelist .saleinfo span,
#Featured .salelist .moodinfo span,
#Featured .moodlist .futureinfo span,
#Featured .moodlist .saleinfo span,
#Featured .moodlist .moodinfo span {
  color: #afafaf;
  font-size: 14px;
  font-weight: bold;
}
#Featured .futurelist .futureinfo p,
#Featured .futurelist .saleinfo p,
#Featured .futurelist .moodinfo p,
#Featured .salelist .futureinfo p,
#Featured .salelist .saleinfo p,
#Featured .salelist .moodinfo p,
#Featured .moodlist .futureinfo p,
#Featured .moodlist .saleinfo p,
#Featured .moodlist .moodinfo p {
  font-size: 12px;
  text-align: left;
  box-sizing: border-box;
  padding: 5px;
  z-index: 5;
  bottom: 0;
}
#Featured .futurelist .futureinfo p:last-child,
#Featured .futurelist .saleinfo p:last-child,
#Featured .futurelist .moodinfo p:last-child,
#Featured .salelist .futureinfo p:last-child,
#Featured .salelist .saleinfo p:last-child,
#Featured .salelist .moodinfo p:last-child,
#Featured .moodlist .futureinfo p:last-child,
#Featured .moodlist .saleinfo p:last-child,
#Featured .moodlist .moodinfo p:last-child {
  color: #ff0000;
}
#Featured .futurelist .futureinfo img,
#Featured .futurelist .saleinfo img,
#Featured .futurelist .moodinfo img,
#Featured .salelist .futureinfo img,
#Featured .salelist .saleinfo img,
#Featured .salelist .moodinfo img,
#Featured .moodlist .futureinfo img,
#Featured .moodlist .saleinfo img,
#Featured .moodlist .moodinfo img {
  width: 100%;
}
#Featured .futurelist .futureinfo .info,
#Featured .futurelist .saleinfo .info,
#Featured .futurelist .moodinfo .info,
#Featured .salelist .futureinfo .info,
#Featured .salelist .saleinfo .info,
#Featured .salelist .moodinfo .info,
#Featured .moodlist .futureinfo .info,
#Featured .moodlist .saleinfo .info,
#Featured .moodlist .moodinfo .info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: none;
  position: relative;
  z-index: 5;
}
#Featured .futurelist .futureinfo .img,
#Featured .futurelist .saleinfo .img,
#Featured .futurelist .moodinfo .img,
#Featured .salelist .futureinfo .img,
#Featured .salelist .saleinfo .img,
#Featured .salelist .moodinfo .img,
#Featured .moodlist .futureinfo .img,
#Featured .moodlist .saleinfo .img,
#Featured .moodlist .moodinfo .img {
  width: 94%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 3px;
  right: 10px;
}
#Featured .futurelist .futureinfo .img .spen1,
#Featured .futurelist .saleinfo .img .spen1,
#Featured .futurelist .moodinfo .img .spen1,
#Featured .salelist .futureinfo .img .spen1,
#Featured .salelist .saleinfo .img .spen1,
#Featured .salelist .moodinfo .img .spen1,
#Featured .moodlist .futureinfo .img .spen1,
#Featured .moodlist .saleinfo .img .spen1,
#Featured .moodlist .moodinfo .img .spen1 {
  width: 24px;
  height: 24px;
  position: relative;
}
#Featured .futurelist .futureinfo .img .spen1 .click,
#Featured .futurelist .saleinfo .img .spen1 .click,
#Featured .futurelist .moodinfo .img .spen1 .click,
#Featured .salelist .futureinfo .img .spen1 .click,
#Featured .salelist .saleinfo .img .spen1 .click,
#Featured .salelist .moodinfo .img .spen1 .click,
#Featured .moodlist .futureinfo .img .spen1 .click,
#Featured .moodlist .saleinfo .img .spen1 .click,
#Featured .moodlist .moodinfo .img .spen1 .click {
  width: 100px;
  height: 0px;
  border-radius: 20px;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 25px;
  position: absolute;
  left: 35px;
  z-index: 1;
  text-align: center;
}
#Featured .futurelist .futureinfo .img .spen1 .click.on,
#Featured .futurelist .saleinfo .img .spen1 .click.on,
#Featured .futurelist .moodinfo .img .spen1 .click.on,
#Featured .salelist .futureinfo .img .spen1 .click.on,
#Featured .salelist .saleinfo .img .spen1 .click.on,
#Featured .salelist .moodinfo .img .spen1 .click.on,
#Featured .moodlist .futureinfo .img .spen1 .click.on,
#Featured .moodlist .saleinfo .img .spen1 .click.on,
#Featured .moodlist .moodinfo .img .spen1 .click.on {
  opacity: 0.8;
}
#Featured .futurelist .futureinfo .img .spen1:hover,
#Featured .futurelist .saleinfo .img .spen1:hover,
#Featured .futurelist .moodinfo .img .spen1:hover,
#Featured .salelist .futureinfo .img .spen1:hover,
#Featured .salelist .saleinfo .img .spen1:hover,
#Featured .salelist .moodinfo .img .spen1:hover,
#Featured .moodlist .futureinfo .img .spen1:hover,
#Featured .moodlist .saleinfo .img .spen1:hover,
#Featured .moodlist .moodinfo .img .spen1:hover {
  cursor: pointer;
}
#Featured .futurelist .futureinfo .img .img_2,
#Featured .futurelist .saleinfo .img .img_2,
#Featured .futurelist .moodinfo .img .img_2,
#Featured .salelist .futureinfo .img .img_2,
#Featured .salelist .saleinfo .img .img_2,
#Featured .salelist .moodinfo .img .img_2,
#Featured .moodlist .futureinfo .img .img_2,
#Featured .moodlist .saleinfo .img .img_2,
#Featured .moodlist .moodinfo .img .img_2 {
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Featured .futurelist .futureinfo .img .img_2 img,
#Featured .futurelist .saleinfo .img .img_2 img,
#Featured .futurelist .moodinfo .img .img_2 img,
#Featured .salelist .futureinfo .img .img_2 img,
#Featured .salelist .saleinfo .img .img_2 img,
#Featured .salelist .moodinfo .img .img_2 img,
#Featured .moodlist .futureinfo .img .img_2 img,
#Featured .moodlist .saleinfo .img .img_2 img,
#Featured .moodlist .moodinfo .img .img_2 img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
#Featured .futurelist .futureinfo .img .img_2 img:first-child:hover, #Featured .futurelist .futureinfo .img .img_2 img:nth-of-type(2):hover,
#Featured .futurelist .saleinfo .img .img_2 img:first-child:hover,
#Featured .futurelist .saleinfo .img .img_2 img:nth-of-type(2):hover,
#Featured .futurelist .moodinfo .img .img_2 img:first-child:hover,
#Featured .futurelist .moodinfo .img .img_2 img:nth-of-type(2):hover,
#Featured .salelist .futureinfo .img .img_2 img:first-child:hover,
#Featured .salelist .futureinfo .img .img_2 img:nth-of-type(2):hover,
#Featured .salelist .saleinfo .img .img_2 img:first-child:hover,
#Featured .salelist .saleinfo .img .img_2 img:nth-of-type(2):hover,
#Featured .salelist .moodinfo .img .img_2 img:first-child:hover,
#Featured .salelist .moodinfo .img .img_2 img:nth-of-type(2):hover,
#Featured .moodlist .futureinfo .img .img_2 img:first-child:hover,
#Featured .moodlist .futureinfo .img .img_2 img:nth-of-type(2):hover,
#Featured .moodlist .saleinfo .img .img_2 img:first-child:hover,
#Featured .moodlist .saleinfo .img .img_2 img:nth-of-type(2):hover,
#Featured .moodlist .moodinfo .img .img_2 img:first-child:hover,
#Featured .moodlist .moodinfo .img .img_2 img:nth-of-type(2):hover {
  transition: all 0.5s ease;
  background-color: lightpink;
  cursor: pointer;
}

#Deals {
  width: 1903px;
  height: 634px;
  background-color: #fff2e1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10% auto;
  position: relative;
  opacity: 0;
}
#Deals .head {
  width: 1525px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#Deals .head h1 {
  font-size: 50px;
}
#Deals .head span {
  font-size: 1rem;
}
#Deals .head span:hover {
  color: #dbc3c2;
  transition: all 0.5s ease;
  cursor: pointer;
}
#Deals .deals {
  width: 80%;
  height: 334px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  position: initial;
}
#Deals .deals .swiper {
  width: 100%;
  height: 100%;
}
#Deals .deals .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Deals .deals .dealbox .deallist .list_box:hover {
  box-shadow: 2px 30px 10px rgba(221, 221, 221, 0.5);
}
#Deals .deals .dealbox .deallist .list_box .list_img {
  width: 220px;
  height: 267px;
  margin-right: 3%;
}
#Deals .deals .dealbox .deallist .list_box .list_img a {
  width: 95%;
  height: 100%;
}
#Deals .deals .dealbox .deallist .list_box .list_img a img {
  width: 100%;
  height: 100%;
}
#Deals .deals .dealbox .deallist .list_box .list_info {
  width: 320px;
  height: 267px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#Deals .deals .dealbox .deallist .list_box .list_info h4 {
  font-size: 1.3rem;
}
#Deals .deals .dealbox .deallist .list_box .list_info span {
  color: #afafaf;
  font-weight: 500;
}
#Deals .deals .dealbox .deallist .list_box .list_info p {
  font-size: 16px;
}
#Deals .deals .dealbox .deallist .list_box .list_info p:nth-of-type(1) {
  color: #ff0000;
}
#Deals .deals .dealbox .deallist .list_box .list_info .list_count {
  width: 80%;
  height: 50%;
  margin-top: 5%;
  text-align: left;
}
#Deals .deals .dealbox .deallist .list_box .list_info .list_count span {
  font-size: 16px;
  color: #ff0000;
}
#Deals .deals .dealbox .deallist .list_box .list_info .list_count span:first-child {
  margin-right: 10px;
}
#Deals .deals .dealbox .deallist .list_box .list_info .list_count .count {
  width: 80%;
  height: 1rem;
  background-color: #fff3e4;
  border-radius: 20px;
  position: relative;
  margin-top: 3%;
}
#Deals .deals .dealbox .deallist .list_box .list_info .list_count .count::after {
  content: "";
  width: 65%;
  height: 1rem;
  background-color: #9f7e58;
  position: absolute;
  border-radius: 20px;
}
#Deals .swiper-button-next {
  top: 58%;
  right: 120px;
}
#Deals .swiper-button-prev {
  top: 58%;
  left: 120px;
}

#Releases {
  width: 1903px;
  height: auto;
  margin: 10% auto;
  opacity: 0;
}
#Releases .releases {
  width: 1525px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
#Releases .releases .Rbox {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#Releases .releases .Rbox h1 {
  font-size: 50px;
}
#Releases .releases .Rbox .R_ul {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Releases .releases .Rbox .R_ul li {
  font-size: 1rem;
}
#Releases .releases .Rbox .R_ul li:hover {
  color: #dbc3c2 !important;
  transition: all 0.5s ease !important;
  cursor: pointer;
}
#Releases .releases .R_boxs .releasesbox0,
#Releases .releases .R_boxs .releasesbox1,
#Releases .releases .R_boxs .releasesbox2,
#Releases .releases .R_boxs .releasesbox3 {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Releases .releases .R_boxs .releasesbox0 .R_box,
#Releases .releases .R_boxs .releasesbox1 .R_box,
#Releases .releases .R_boxs .releasesbox2 .R_box,
#Releases .releases .R_boxs .releasesbox3 .R_box {
  width: 30%;
  height: 100%;
  background-color: #fff2e1;
  border-top: 1px solid #afafaf;
  border-left: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Releases .releases .R_boxs .releasesbox0 .R_box .R_img,
#Releases .releases .R_boxs .releasesbox1 .R_box .R_img,
#Releases .releases .R_boxs .releasesbox2 .R_box .R_img,
#Releases .releases .R_boxs .releasesbox3 .R_box .R_img {
  width: 200px;
  height: 280px;
  background-color: #ff0000;
  margin-bottom: 7%;
}
#Releases .releases .R_boxs .releasesbox0 .R_box .R_img a,
#Releases .releases .R_boxs .releasesbox1 .R_box .R_img a,
#Releases .releases .R_boxs .releasesbox2 .R_box .R_img a,
#Releases .releases .R_boxs .releasesbox3 .R_box .R_img a {
  width: 100%;
  height: 100%;
}
#Releases .releases .R_boxs .releasesbox0 .R_box .R_img a img,
#Releases .releases .R_boxs .releasesbox1 .R_box .R_img a img,
#Releases .releases .R_boxs .releasesbox2 .R_box .R_img a img,
#Releases .releases .R_boxs .releasesbox3 .R_box .R_img a img {
  width: 100%;
  height: 100%;
}
#Releases .releases .R_boxs .releasesbox0 .R_box .R_text,
#Releases .releases .R_boxs .releasesbox1 .R_box .R_text,
#Releases .releases .R_boxs .releasesbox2 .R_box .R_text,
#Releases .releases .R_boxs .releasesbox3 .R_box .R_text {
  width: 350px;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#Releases .releases .R_boxs .releasesbox0 .R_box .R_text h2,
#Releases .releases .R_boxs .releasesbox1 .R_box .R_text h2,
#Releases .releases .R_boxs .releasesbox2 .R_box .R_text h2,
#Releases .releases .R_boxs .releasesbox3 .R_box .R_text h2 {
  font-size: 2.5rem;
}
#Releases .releases .R_boxs .releasesbox0 .R_box .R_text h1,
#Releases .releases .R_boxs .releasesbox1 .R_box .R_text h1,
#Releases .releases .R_boxs .releasesbox2 .R_box .R_text h1,
#Releases .releases .R_boxs .releasesbox3 .R_box .R_text h1 {
  font-size: 3.5rem;
  color: #ff0000;
}
#Releases .releases .R_boxs .releasesbox0 .R_box .R_text p,
#Releases .releases .R_boxs .releasesbox1 .R_box .R_text p,
#Releases .releases .R_boxs .releasesbox2 .R_box .R_text p,
#Releases .releases .R_boxs .releasesbox3 .R_box .R_text p {
  font-size: 2rem;
  color: #afafaf;
}
#Releases .releases .R_boxs .releasesbox0 .R_box .R_text .R_button,
#Releases .releases .R_boxs .releasesbox1 .R_box .R_text .R_button,
#Releases .releases .R_boxs .releasesbox2 .R_box .R_text .R_button,
#Releases .releases .R_boxs .releasesbox3 .R_box .R_text .R_button {
  width: 180px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background-color: #9f7e58;
  margin-top: 5%;
}
#Releases .releases .R_boxs .releasesbox0 .R_box .R_text .R_button:hover,
#Releases .releases .R_boxs .releasesbox1 .R_box .R_text .R_button:hover,
#Releases .releases .R_boxs .releasesbox2 .R_box .R_text .R_button:hover,
#Releases .releases .R_boxs .releasesbox3 .R_box .R_text .R_button:hover {
  cursor: pointer;
  animation: jelly 0.5s ease;
}
@keyframes jelly {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
#Releases .releases .R_boxs .releasesbox0 .releaseslist,
#Releases .releases .R_boxs .releasesbox1 .releaseslist,
#Releases .releases .R_boxs .releasesbox2 .releaseslist,
#Releases .releases .R_boxs .releasesbox3 .releaseslist {
  width: 70%;
  height: 100%;
  border-right: 1px solid #afafaf;
  border-left: 1px solid #afafaf;
  border-top: 1px solid #afafaf;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-flow: row wrap;
}
#Releases .releases .R_boxs .releasesbox0 .releaseslist .releasesinfo,
#Releases .releases .R_boxs .releasesbox1 .releaseslist .releasesinfo,
#Releases .releases .R_boxs .releasesbox2 .releaseslist .releasesinfo,
#Releases .releases .R_boxs .releasesbox3 .releaseslist .releasesinfo {
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-right: 1px solid #afafaf;
  border-left: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
#Releases .releases .R_boxs .releasesbox0 .releaseslist .releasesinfo h4,
#Releases .releases .R_boxs .releasesbox1 .releaseslist .releasesinfo h4,
#Releases .releases .R_boxs .releasesbox2 .releaseslist .releasesinfo h4,
#Releases .releases .R_boxs .releasesbox3 .releaseslist .releasesinfo h4 {
  font-size: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
#Releases .releases .R_boxs .releasesbox0 .releaseslist .releasesinfo span,
#Releases .releases .R_boxs .releasesbox1 .releaseslist .releasesinfo span,
#Releases .releases .R_boxs .releasesbox2 .releaseslist .releasesinfo span,
#Releases .releases .R_boxs .releasesbox3 .releaseslist .releasesinfo span {
  color: #afafaf;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
#Releases .releases .R_boxs .releasesbox0 .releaseslist .releasesinfo p,
#Releases .releases .R_boxs .releasesbox1 .releaseslist .releasesinfo p,
#Releases .releases .R_boxs .releasesbox2 .releaseslist .releasesinfo p,
#Releases .releases .R_boxs .releasesbox3 .releaseslist .releasesinfo p {
  font-size: 12px;
  text-align: left;
  box-sizing: border-box;
  padding: 5px;
  z-index: 5;
  bottom: 0;
}
#Releases .releases .R_boxs .releasesbox0 .releaseslist .releasesinfo p:last-child,
#Releases .releases .R_boxs .releasesbox1 .releaseslist .releasesinfo p:last-child,
#Releases .releases .R_boxs .releasesbox2 .releaseslist .releasesinfo p:last-child,
#Releases .releases .R_boxs .releasesbox3 .releaseslist .releasesinfo p:last-child {
  color: #ff0000;
}
#Releases .releases .R_boxs .releasesbox0 .releaseslist .releasesinfo .img_1 img,
#Releases .releases .R_boxs .releasesbox1 .releaseslist .releasesinfo .img_1 img,
#Releases .releases .R_boxs .releasesbox2 .releaseslist .releasesinfo .img_1 img,
#Releases .releases .R_boxs .releasesbox3 .releaseslist .releasesinfo .img_1 img {
  margin-bottom: 8%;
}
#Releases .releases .R_boxs .releasesbox0 .releaseslist .releasesinfo img,
#Releases .releases .R_boxs .releasesbox1 .releaseslist .releasesinfo img,
#Releases .releases .R_boxs .releasesbox2 .releaseslist .releasesinfo img,
#Releases .releases .R_boxs .releasesbox3 .releaseslist .releasesinfo img {
  width: 100%;
}
#Releases .releases .R_boxs .releasesbox0 .releaseslist .releasesinfo .info,
#Releases .releases .R_boxs .releasesbox1 .releaseslist .releasesinfo .info,
#Releases .releases .R_boxs .releasesbox2 .releaseslist .releasesinfo .info,
#Releases .releases .R_boxs .releasesbox3 .releaseslist .releasesinfo .info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: none;
  position: relative;
  z-index: 5;
}
#Releases .releases .R_boxs .releasesbox0 .releaseslist .releasesinfo .img,
#Releases .releases .R_boxs .releasesbox1 .releaseslist .releasesinfo .img,
#Releases .releases .R_boxs .releasesbox2 .releaseslist .releasesinfo .img,
#Releases .releases .R_boxs .releasesbox3 .releaseslist .releasesinfo .img {
  width: 93%;
  height: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 3px;
  right: 10px;
}
#Releases .releases .R_boxs .releasesbox0 .releaseslist .releasesinfo .img .spen1,
#Releases .releases .R_boxs .releasesbox1 .releaseslist .releasesinfo .img .spen1,
#Releases .releases .R_boxs .releasesbox2 .releaseslist .releasesinfo .img .spen1,
#Releases .releases .R_boxs .releasesbox3 .releaseslist .releasesinfo .img .spen1 {
  font-size: 16px;
}
#Releases .releases .R_boxs .releasesbox0 .releaseslist .releasesinfo .img .spen1:hover,
#Releases .releases .R_boxs .releasesbox1 .releaseslist .releasesinfo .img .spen1:hover,
#Releases .releases .R_boxs .releasesbox2 .releaseslist .releasesinfo .img .spen1:hover,
#Releases .releases .R_boxs .releasesbox3 .releaseslist .releasesinfo .img .spen1:hover {
  cursor: pointer;
}
#Releases .releases .R_boxs .releasesbox0 .releaseslist .releasesinfo .img .img_2,
#Releases .releases .R_boxs .releasesbox1 .releaseslist .releasesinfo .img .img_2,
#Releases .releases .R_boxs .releasesbox2 .releaseslist .releasesinfo .img .img_2,
#Releases .releases .R_boxs .releasesbox3 .releaseslist .releasesinfo .img .img_2 {
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Releases .releases .R_boxs .releasesbox0 .releaseslist .releasesinfo .img .img_2 img,
#Releases .releases .R_boxs .releasesbox1 .releaseslist .releasesinfo .img .img_2 img,
#Releases .releases .R_boxs .releasesbox2 .releaseslist .releasesinfo .img .img_2 img,
#Releases .releases .R_boxs .releasesbox3 .releaseslist .releasesinfo .img .img_2 img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
#Releases .releases .R_boxs .releasesbox0 .releaseslist .releasesinfo .img .img_2 img:first-child:hover, #Releases .releases .R_boxs .releasesbox0 .releaseslist .releasesinfo .img .img_2 img:nth-of-type(2):hover,
#Releases .releases .R_boxs .releasesbox1 .releaseslist .releasesinfo .img .img_2 img:first-child:hover,
#Releases .releases .R_boxs .releasesbox1 .releaseslist .releasesinfo .img .img_2 img:nth-of-type(2):hover,
#Releases .releases .R_boxs .releasesbox2 .releaseslist .releasesinfo .img .img_2 img:first-child:hover,
#Releases .releases .R_boxs .releasesbox2 .releaseslist .releasesinfo .img .img_2 img:nth-of-type(2):hover,
#Releases .releases .R_boxs .releasesbox3 .releaseslist .releasesinfo .img .img_2 img:first-child:hover,
#Releases .releases .R_boxs .releasesbox3 .releaseslist .releasesinfo .img .img_2 img:nth-of-type(2):hover {
  transition: all 0.5s ease;
  background-color: lightpink;
  cursor: pointer;
}

#Music {
  width: 1300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 250px auto;
  opacity: 0;
}
#Music .swiper {
  width: 1300px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#Music .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 433px;
  height: 180px;
}
#Music h1 {
  width: 1300px;
  font-size: 50px;
  text-align: left;
  margin-bottom: 20px;
}
#Music .music .M_list {
  width: 3031px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Music .music .M_list .m_list {
  width: 433px;
  height: 99%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#Music .music .M_list .m_list .m_img {
  width: 140px;
  height: 180px;
}
#Music .music .M_list .m_list .m_img a {
  width: 100%;
  height: 100%;
}
#Music .music .M_list .m_list .m_img a img {
  width: 100%;
  height: 100%;
}
#Music .music .M_list .m_list .m_info {
  width: 275px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#Music .music .M_list .m_list .m_info h4 {
  font-size: 0.9rem;
}
#Music .music .M_list .m_list .m_info span {
  font-size: 16px;
  color: #afafaf;
  font-weight: bold;
}
#Music .music .M_list .m_list .m_info p:nth-of-type(1) {
  font-size: 16px;
}
#Music .music .M_list .m_list .m_info p:nth-of-type(2) {
  font-size: 14px;
  color: #ff0000;
}

#Favorite {
  width: 1300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 200px auto;
  position: relative;
  opacity: 0;
}
#Favorite .favorite {
  width: 1300px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Favorite .favorite h1 {
  font-size: 50px;
}
#Favorite .favorite span {
  font-size: 1rem;
}
#Favorite .favorite span:hover {
  color: #dbc3c2;
  transition: all 0.5s ease;
  cursor: pointer;
}
#Favorite .swiper {
  width: 100%;
  height: 100%;
}
#Favorite .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 180px;
  border-radius: 50%;
}
#Favorite .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#Favorite .favor_box {
  width: 908px;
  height: 200px;
  position: initial;
}
#Favorite .favor_box .favor_ul {
  width: 1500px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#Favorite .favor_box .favor_ul .favor_li {
  width: 150px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Favorite .favor_box .favor_ul .favor_li img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#Favorite .favor_box .favor_ul .favor_li p {
  font-size: 16px;
  text-align: center;
}
#Favorite .favor_box .swiper-button-next,
#Favorite .favor_box .swiper-button-prev {
  top: 62%;
}