* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1vw;
  scroll-behavior: smooth;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

header {
  width: 100%;
  height: auto;
}
header .contents {
  width: 80%;
  height: auto;
  margin: 0 auto;
}
header .contents #topbar {
  width: 100%;
  height: 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .contents #topbar .top_menu {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .contents #topbar .top_menu .top_help a,
header .contents #topbar .top_menu .top_number a {
  font-weight: bold;
  font-size: 1.2rem;
}
header .contents #topbar .top_bar_icon {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .contents #topbar .top_bar_icon i {
  font-size: 1.2rem;
  color: black;
}
header .contents #topbar .top_bar_icon i:hover {
  color: lightpink;
  transition: all 0.5s ease;
}
header #nav {
  width: 100%;
  height: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #nav .logo {
  width: 17%;
  height: 100%;
}
header #nav .logo a {
  width: 100%;
  height: 100%;
}
header #nav .logo a img {
  width: 100%;
  height: 100%;
}
header #nav .list {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header #nav .list li {
  font-size: 1.2rem;
}
header #nav .list li a:hover {
  color: #dbc3c2;
  transition: all 0.5s ease;
}
header #nav .search {
  width: 23%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header #nav .search i {
  font-size: 1.5rem;
}
header #nav .search i:hover {
  color: #dbc3c2;
  transition: all 0.5s ease;
  cursor: pointer;
}
header #nav .search input {
  width: 50%;
  height: 25px;
  font-size: 12px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 3px;
}
header #nav .search input:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  background-color: #dbc3c2;
  cursor: pointer;
}

footer {
  width: 100%;
  height: auto;
}
footer .contents {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 35px 0 35px;
}
footer .contents .footer0 {
  width: 270px;
  height: 330px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
footer .contents .footer0 img {
  width: 200px;
  height: 50px;
}
footer .contents .footer0 .ptag {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}
footer .contents .footer0 .ptag p {
  font-size: 1rem;
}
footer .contents .footer0 .icon {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
footer .contents .footer0 .icon li {
  width: 15%;
}
footer .contents .footer0 .icon li i {
  font-size: 1.5rem;
}
footer .contents .footer0 .icon li i:hover {
  color: lightpink;
  transition: all 0.5s ease;
}
footer .contents .footer0 .icon li .fa-square-facebook::before {
  content: "\f082";
}
footer .contents .footer0 .icon li .fa-square-instagram::before {
  content: "\e055";
}
footer .contents .footer0 .icon li .fa-square-twitter::before {
  content: "\f081";
}
footer .contents .footer0 .icon li .fa-square-github::before {
  content: "\f092";
}
footer .contents .footer1 {
  width: 170px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
footer .contents .footer1 h5 {
  width: 100%;
  font-size: 1.5rem;
  text-align: left;
}
footer .contents .footer1 ul {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
footer .contents .footer1 ul li {
  margin-bottom: 20px;
}
footer .contents .footer1 ul li a {
  font-size: 1rem;
}
footer .contents .footer1 ul li a:hover {
  color: #ff6d6d;
  transition: all 0.5s ease;
  transform: translateX(10px);
}

#Sub_top {
  width: 100%;
  height: 70px;
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
}
#Sub_top ul {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
#Sub_top ul li {
  font-size: 16px;
}

#Photo {
  width: 100%;
  height: 710px;
  border-bottom: 1px solid #afafaf;
}
#Photo .photo_book {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#Photo .photo_book .photo_img {
  width: 620px;
  height: 473px;
  text-align: center;
}
#Photo .photo_book .photo_img a {
  width: 350px;
  height: 100%;
}
#Photo .photo_book .photo_img a img {
  width: 350px;
  height: 100%;
  border: 1px solid #000000;
}
#Photo .photo_book .sub_info {
  width: 620px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 20px;
  border-left: 1px solid #afafaf;
}
#Photo .photo_book .sub_info .subinfo {
  width: 100%;
  height: 354px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
#Photo .photo_book .sub_info .subinfo .img_text {
  width: 45%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#Photo .photo_book .sub_info .subinfo .img_text img {
  width: 20px;
  height: 20px;
}
#Photo .photo_book .sub_info .subinfo .img_text img:nth-of-type(5) {
  margin-right: 20px;
}
#Photo .photo_book .sub_info .subinfo .img_text span {
  color: #ff0000;
  font-size: 16px;
}
#Photo .photo_book .sub_info .subinfo p {
  font-size: 16px;
}
#Photo .photo_book .sub_info .subinfo h1 {
  font-size: 2rem;
}
#Photo .photo_book .sub_info .subinfo .span_box {
  font-size: 16px;
  margin: 10px 0;
}
#Photo .photo_book .sub_info .subinfo .option_box {
  width: 490px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#Photo .photo_book .sub_info .subinfo .option_box .option {
  width: 120px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #afafaf;
  margin-right: 30px;
}
#Photo .photo_book .sub_info .sb_box {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#Photo .photo_book .sub_info .sb_box .story {
  width: 100%;
  height: 130px;
}
#Photo .photo_book .sub_info .sb_box .story p {
  font-size: 16px;
  width: 100%;
  height: 110px;
}
#Photo .photo_book .sub_info .sb_box .buttons {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #afafaf;
}
#Photo .photo_book .sub_info .sb_box .buttons .button {
  width: 120px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #afafaf;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
}
#Photo .photo_book .sub_info .sb_box .buttons .button span {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
#Photo .photo_book .sub_info .sb_box .buttons .button span:nth-of-type(1):hover,
#Photo .photo_book .sub_info .sb_box .buttons .button span:nth-of-type(3):hover {
  cursor: pointer;
}
#Photo .photo_book .sub_info .sb_box .buttons .button1 {
  width: 180px;
  height: 50px;
  background-color: #333;
  text-align: center;
  color: white;
  border-radius: 15px;
  line-height: 50px;
}
#Photo .photo_book .sub_info .sb_box .buttons .button1:hover {
  cursor: pointer;
  animation: jelly 0.5s ease;
}
@keyframes jelly {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
#Photo .photo_book .sub_info .sum {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#Photo .photo_book .sub_info .sum span {
  margin: 0 30px 0 20px;
}
#Photo .photo_book .sub_info .icon_share {
  width: 420px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Photo .photo_book .sub_info .icon_share .add, #Photo .photo_book .sub_info .icon_share .share {
  width: 200px;
  height: 40px;
  line-height: 40px;
}
#Photo .photo_book .sub_info .icon_share .add a, #Photo .photo_book .sub_info .icon_share .share a {
  width: 100%;
  height: 100%;
}
#Photo .photo_book .sub_info .icon_share .add i, #Photo .photo_book .sub_info .icon_share .share i {
  padding-right: 10px;
}
#Photo .photo_book .sub_info .icon_share .add i:hover, #Photo .photo_book .sub_info .icon_share .share i:hover {
  color: lightpink;
  transition: all 0.5s ease;
}

#sub_bottom {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #afafaf;
}
#sub_bottom ul {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#sub_bottom ul li {
  width: 10%;
  height: 100%;
  text-align: center;
  line-height: 60px;
}
#sub_bottom ul li a {
  font-size: 1rem;
}

#Book_info {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #afafaf;
}
#Book_info .social {
  width: 55%;
  height: 900px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
}
#Book_info .social h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
#Book_info .social h4 {
  font-size: 18px;
  font-weight: 100;
}
#Book_info .social p {
  font-size: 18px;
}
#Book_info .social .introduce {
  width: 100%;
  height: auto;
}
#Book_info .social .contents {
  width: 100%;
  height: auto;
}
#Book_info .social .story {
  width: 100%;
  height: auto;
}
#Book_info .social .review {
  width: 100%;
  height: auto;
}
#Book_info .social .review ul {
  margin-bottom: 20px;
}
#Book_info .social .review ul li {
  margin-bottom: 10px;
}
#Book_info .social .review p {
  font-size: 16px;
}

#Customer_R {
  width: 100%;
  height: auto;
}
#Customer_R .reviews {
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
}
#Customer_R .reviews .review_num {
  width: 30%;
  height: 220px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
#Customer_R .reviews .review_num p {
  width: 80%;
}
#Customer_R .reviews .review_num .num_box {
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#Customer_R .reviews .review_num .num_box .nums {
  width: 22%;
  font-size: 2rem;
}
#Customer_R .reviews .review_num .num_box .nums_1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#Customer_R .reviews .review_num .num_box .nums_1 span {
  font-size: 16px;
}
#Customer_R .reviews .review_num .num_box .nums_1 .nums_img img {
  width: 20px;
}
#Customer_R .reviews .review_num .re_box {
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#Customer_R .reviews .review_num .re_box .white_button1 {
  width: 150px;
  height: 50px;
  border: 1px solid #afafaf;
  text-align: center;
  color: #000000;
  border-radius: 15px;
  line-height: 50px;
  margin-right: 20px;
}
#Customer_R .reviews .review_num .re_box .black_button1 {
  width: 150px;
  height: 50px;
  background-color: #333;
  text-align: center;
  color: white;
  border-radius: 15px;
  line-height: 50px;
}
#Customer_R .reviews .review_num .re_box .black_button1:hover,
#Customer_R .reviews .review_num .re_box .white_button1:hover {
  cursor: pointer;
  animation: jelly 0.5s ease;
}
@keyframes jelly {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
#Customer_R .reviews .review_star {
  width: 44%;
  height: 220px;
}
#Customer_R .reviews .review_star .custom {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
#Customer_R .reviews .review_star .custom .custom1 {
  width: 70%;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#Customer_R .reviews .review_star .custom .custom1 span {
  font-size: 16px;
}
#Customer_R .reviews .review_star .custom .custom1 .cus_bar {
  width: 130px;
  height: 8px;
  background-color: #fff3e4;
  border-radius: 15px;
  position: relative;
  margin: 0 15px;
}
#Customer_R .reviews .review_star .custom .custom1 .cus_bar .cus_bar:nth-of-type(3) {
  margin-right: 7px;
}
#Customer_R .reviews .review_star .custom .custom1 .cus_bar:nth-of-type(4) {
  margin-right: 7px;
}
#Customer_R .reviews .review_star .custom .custom1 .cus_bar:nth-of-type(5) {
  margin-right: 7px;
}
#Customer_R .reviews .review_star .custom .custom1 .cus_bar::after {
  content: "";
  width: 100px;
  height: 100%;
  background-color: #ffb224;
  border-radius: 15px;
  position: absolute;
}

#Review_info {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #afafaf;
}
#Review_info .reviews_1 {
  width: 50%;
  height: 950px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
}
#Review_info .reviews_1 h3 {
  font-size: 25px;
  margin-bottom: 15px;
}
#Review_info .reviews_1 .Re_box {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 1px solid #afafaf;
}
#Review_info .reviews_1 .Re_box .re_box {
  width: 80%;
  height: auto;
}
#Review_info .reviews_1 .Re_box .re_box span:first-child {
  font-size: 18px;
  font-weight: 600;
}
#Review_info .reviews_1 .Re_box .re_box span:nth-last-of-type(1) {
  font-size: 14px;
}
#Review_info .reviews_1 .Re_box .re_box img {
  width: 16px;
  height: 16px;
}
#Review_info .reviews_1 .Re_box .re_box p {
  font-size: 16px;
}
#Review_info .reviews_1 .Re_box .re_box .lh_box i {
  width: 18px;
  height: 18px;
}
#Review_info .reviews_1 .Re_box .re_box .lh_box i:first-child:hover {
  cursor: pointer;
  color: #3838ff;
  transition: all 0.5s ease;
}
#Review_info .reviews_1 .Re_box .re_box .lh_box i:last-of-type:hover {
  cursor: pointer;
  color: #ff4747;
  transition: all 0.5s ease;
}
#Review_info .reviews_1 .Re_box .re_box .lh_box span {
  font-size: 14px;
  margin: 0 8px;
}
#Review_info .re_input {
  width: 50%;
  height: 420px;
  margin: 0 auto;
}
#Review_info .re_input .input_box {
  width: 100%;
  box-sizing: border-box;
  margin-left: 20px;
  position: relative;
}
#Review_info .re_input .input_box h4 {
  font-size: 25px;
}
#Review_info .re_input .input_box span {
  font-size: 18px;
  margin: 15px 0;
}
#Review_info .re_input p {
  margin-left: 20px;
}
#Review_info .re_input textarea, #Review_info .re_input .re_btn {
  margin: 10px 0 10px 20px;
}
#Review_info .re_input .re_btn {
  width: 150px;
  height: 50px;
  background-color: #333;
  text-align: center;
  color: white;
  border-radius: 15px;
  line-height: 50px;
}
#Review_info .re_input .re_btn:hover {
  cursor: pointer;
  animation: jelly 0.5s ease;
}
@keyframes jelly {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}